@page
@using Microsoft.AspNetCore.Identity
@using MvcSecSql.Data.Data.Entities
@inject SignInManager<User> SignInManager
@model IndexModel
@{
    ViewData["Title"] = "Albums";
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewData["Title"]</h2>
            <status-message message="@Model.StatusMessage" message-type="success"></status-message>
            <page-button path="Albums/Create" bootstrap-style="primary" description="Create New"></page-button>
            <page-button path="Index" bootstrap-style="warning" glyph="list-alt" description="Dashboard"></page-button>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Band</th>
                        <th>Release Year</th>
                        <th>Genre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.Band.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.ReleaseYear)</td>
                            <td>@Html.DisplayFor(modelItem => item.Genre.Title)</td>
                            <td class="button-col-width">
                                <page-button path="Albums/Edit" bootstrap-style="success" glyph="pencil" id="@item.Id"></page-button>
                                <page-button path="Albums/Delete" bootstrap-style="danger" glyph="remove" id="@item.Id"></page-button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}
